<nav class="w-full border-b dark:border-none">
  <div class="container flex h-[4.8rem] items-center justify-between">
    <a href="/" data-turbo-action="replace"  class="font-medium primary-text-color text-[18px] cursor-pointer">felixabacajen<span class="text-main">.com</span></a>
    <div class="flex gap-6 text-[16px] primary-text-color uppercase font-medium items-center">
      <a id="nav-list" href="/" data-turbo-action="replace" class="hidden md:block cursor-pointer <%= "text-main" if current_page?(:controller => 'home') rescue nil %>">
        Portfolio
      </a>
      <a id="nav-list" href="/projects" data-turbo-action="replace" class="hidden md:block cursor-pointer <%= "text-main" if current_page?(:controller => 'projects') rescue nil %>">
        Projects
      </a>
      <a id="nav-list" href="/blogs" data-turbo-action="replace" class="hidden md:block cursor-pointer <%= "text-main" if current_page?(:controller => 'blogs') rescue nil %>">
        Blog
      </a>
      <%= render "components/atoms/theme_switcher" %>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "hover:underline" if user_signed_in? %>
    </div>
  </div>
</nav>