<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<%= form_with(model: project, class: "contents", data: { controller: "form"} ) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "primary-text-color" %>
    <%= form.text_field :title, required: true, placeholder: "Write a title..", class: "block dark:bg-dark dark:text-white rounded-md border border-[#ccc] outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :on_card, class: "primary-text-color" %>
    <%= form.text_field :on_card, required: true, placeholder: "Write card details..", class: "block dark:bg-dark dark:text-white rounded-md border border-[#ccc] outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Cover Image" , class: "primary-text-color" %> <br/>
    <%= form.file_field :img, accept: "image/*", required: action_name == "new" , class: "mt-3 block text-sm text-gray-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-md file:border-0
      file:text-sm file:font-semibold
      file:bg-main file:text-white" 
    %>
  </div>

  <div class="my-5 grid grid-cols-1 md:grid-cols-2 gap-3">
    <div>
      <%= form.label :project_start, class: "primary-text-color" %>
      <%= form.date_field :project_start, required: true, class: "block dark:bg-dark dark:text-white rounded-md border border-[#ccc] outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div>
      <%= form.label :project_end, class: "primary-text-color" %>
      <%= form.date_field :project_end, class: "block dark:bg-dark dark:text-white rounded-md border border-[#ccc] outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :content, class: "primary-text-color" %>
    <%= form.hidden_field :content, "data-form-target": "input" %>
    <div class="mt-2">
      <div class="min-h-[500px]" data-form-target="editor"></div>
    </div>
  </div>
 
  <div class="inline">
    <%= form.submit class: "rounded-lg py-2 px-5 bg-main text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
