<%= form_with(model: project, class: "contents") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "primary-text-color" %>
    <%= form.text_field :title, required: true, placeholder: "Write a title..", class: "block dark:bg-dark dark:text-white rounded-md border outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :content, class: "primary-text-color" %>
    <%= form.text_area :content,  required: true,  placeholder: "Write a content..", rows: 6, class: "block dark:bg-dark dark:text-white rounded-md border outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Cover Image" , class: "primary-text-color" %> <br/>
    <%= form.file_field :img, accept: "image/*", required: false, class: "mt-3" %>
  </div>

  <div class="my-5 grid grid-cols-1 md:grid-cols-2 gap-3">
    <div>
      <%= form.label :project_start, class: "primary-text-color" %>
      <%= form.date_field :project_start, required: true, class: "block dark:bg-dark dark:text-white rounded-md border outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div>
      <%= form.label :project_end, class: "primary-text-color" %>
      <%= form.date_field :project_end, class: "block dark:bg-dark dark:text-white rounded-md border outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  </div>
 
  <div class="inline">
    <%= form.submit class: "rounded-lg py-2 px-5 bg-main text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
