<div class="primary-text-color" id="<%= dom_id project %>">
  <div class="relative flex items-center justify-center w-full h-40 lg:h-56">
    <div class="absolute w-full h-full bg-black opacity-40"></div>
    <h1 class="absolute mx-5 md:mx-10 text-white text-center text-2xl md:text-3xl lg:text-[3rem] leading-7 lg:leading-[3rem] font-normal"><%= project.title %></h1>
    <img class="w-full h-full object-cover object-center" src="<%= rails_blob_url(project.img) %>" loading="lazy">
  </div>

  <p class="my-5">
    <span class="text-xl">"</span><%= project.on_card %><span class="text-xl">"</span>
  </p>

  <div data-controller="quillreadonly" >
    <%= project.content.html_safe %>
  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project start:</strong>
    <%= project.project_start.strftime("%B %Y") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project end:</strong>
    <%= project.project_end.strftime("%B %Y") rescue "present" %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this project", project, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%= link_to 'Edit this project', edit_project_path(project), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 font-medium" %>
  <% end %>
</div>