<div class="primary-text-color" id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= project.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">On Card:</strong>
    <%= project.on_card %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= project.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project start:</strong>
    <%= project.project_start.strftime("%B %Y") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project end:</strong>
    <%= project.project_end.strftime("%B %Y") rescue "present" %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this project", project, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this project', edit_project_path(project), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>