<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js", "data-turbo-track": "reload"  %>
<%= javascript_include_tag "quill", "data-turbo-track": "reload"  %>
<%= stylesheet_link_tag "monokai", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "quill/dist/quill.bubble.css", "data-turbo-track": "reload" %>

<main class="flex-1 container">
  <%= render @project %>
  <%if user_signed_in? %>
    <%= link_to 'Edit this project', edit_project_path(@project), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%= button_to 'Destroy this project', project_path(@project), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium mr-2" %>
  <%end%>
  <hr class="border-b dark:border-gray-700 transition-colors duration-200 my-5" />
  <%= link_to 'Go to projects page', projects_path, class: "text-main underline my-5" %>
</main>