<% case type %>
<% when "link" %>
    <a href="<%= link %>" class="w-fit py-2 text-sm text-white hover:scale-105 hover:shadow-md px-5 bg-main font-medium <%= additionalClass rescue ""%>">
        <%= text %>
    </a>
<% when "bordered" %>
    <button class="py-2 text-sm text-main hover:scale-105 hover:shadow-md px-5 border-2 border-main font-medium <%= additionalClass rescue ""%>">
        <%= text %>
    </button>
<% when "create" %>
    <a href="<%= link %>" class="flex items-center w-fit gap-2 py-2 text-sm text-white hover:scale-105 hover:shadow-md px-5 bg-main font-medium <%= additionalClass rescue ""%>">
        <%= text %>
        <%= render "components/atoms/plus_icon", classProps: "w-4 h-4" %>
    </a>
<% else %>
     <button class="w-fit py-2 text-sm text-white hover:scale-105 hover:shadow-md px-5 bg-main font-medium <%= additionalClass rescue ""%>">
        <%= text %>
    </button>
<% end %>