<a href="/projects/<%= project.present? && project.id %>" data-turbo="false" class="cursor-pointer border dark:border-2 border-gray-300 rounded-lg dark:bg-dark dark:border-gray-700 <%= project.present? && "transform transition duration-100 hover:scale-110 hover:shadow-sm" %>">
    <% if project.present? && project.img %> 
        <img class="rounded-t-lg w-full h-[190px] md:h-[180px] object-cover" src="<%= project.img %>" alt="" />
    <% else %>
        <div class="animate-pulse rounded-t-lg w-full h-[190px] md:h-[180px] bg-gray-200 dark:bg-gray-700"></div>
    <% end %>
    <div class="p-5 max-h-[300px]">
        <% if project.present? && project.title %> 
            <h5 class="mb-2 text-xl font-medium tracking-tight primary-text-color"><%= project.title %></h5>
        <% else %>
            <div class="animate-pulse bg-gray-200 dark:bg-gray-700 h-5 w-full mb-5"></div>
        <% end %>
        <% if project.present? && project.content %> 
            <p class="line-clamp-6 text-ellipsis font-normal text-gray-500 dark:text-gray-400"><%= project.content %></p>
        <% else %>
            <div class="animate-pulse bg-gray-200 dark:bg-gray-700 h-4 w-10/12 mb-3"></div>
            <div class="animate-pulse bg-gray-200 dark:bg-gray-700 h-4 w-7/12 mb-3"></div>
            <div class="animate-pulse bg-gray-200 dark:bg-gray-700 h-4 w-8/12"></div>
        <% end %>
    </div>
</a>