<a href="<%= project_path(:id => @project.id) %>"
    data-label="<%= date_display %>"
    class="project-card transform transition duration-100 hover:sm:scale-110"
>
    <div class="relative transition-colors duration-200 w-full h-full rounded-lg bg-gray-100 dark:bg-gray-700 hover:sm:shadow-md">
        <img class="rounded-t-lg w-full h-[190px] md:h-[180px] object-cover" src="<%= rails_blob_path(@project.img) %>" alt="" loading="lazy"/>
        <div class="p-5">
            <h5 class="mb-1 text-xl font-medium tracking-tight primary-text-color"><%= @project.title %></h5>
            <p class="leading-[21px] text-sm line-clamp-6 text-ellipsis text-gray-500 dark:text-gray-400 transition-colors duration-200"><%= @project.on_card %></p>
        </div>
    </div>
</a>
