<nav class="w-full border-b transition-colors dark:border-gray-700 duration-200">
  <div class="container flex h-[4.8rem] items-center justify-between">
    <a href="/" class="font-medium primary-text-color text-[18px] cursor-pointer">felixabacajen<span class="text-main">.com</span></a>
    <div class="flex gap-6 text-[16px] primary-text-color uppercase font-medium items-center">
      <%= navlink_component name: "Portfolio", link: "/", controller: "home" %>
      <%= navlink_component name: "Projects", link: "/projects", controller: "projects" %>
      <%= navlink_component name: "Blogs", link: "/blogs", controller: "blogs" %>
      <%= theme_switcher_component %>
      <%= navbutton_component %>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "hover:underline" if user_signed_in? %>
    </div>
  </div>
</nav>