<main class="flex-1 grid place-items-center">
  <div class="max-w-[350px] min-w-[350px] bg-white dark:bg-dark border border-gray-300 dark:border-2 dark:border-gray-700  w-fit p-6 rounded-xl shadow-md">
    <h2 class="text-2xl text-center uppercase font-medium text-main mb-3">Admin</h2>
    <% if alert %>
      <p class="text-red-500"><%= alert %></p>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="my-2">
        <%= f.label :email, class: "primary-text-color" %><br />
        <%= f.email_field :email, required: true , autofocus: true, autocomplete: "email", class: "w-full block dark:bg-dark dark:text-white rounded-md outline-none px-3 py-2 mt-2" %>
      </div>
      <div>
        <%= f.label :password, class: "primary-text-color" %><br />
        <%= f.password_field :password, required: true,  autocomplete: "current-password", class: "w-full block dark:bg-dark dark:text-white rounded-md border outline-none px-3 py-2 mt-2" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="mt-3 flex items-center gap-2">
          <%= f.check_box :remember_me, class: "appearance-none bg-transparent focus:ring-0 focus:ring-offset-0 border checked:bg-main checked:focus:bg-main hover:checked:bg-main" %>
          <%= f.label :remember_me, class: "primary-text-color" %>
        </div>
      <% end %>
      <div class="actions mt-5 mb-2">
        <%= f.submit "Log in", class: "w-full py-2 re text-white bg-main rounded-lg font-medium cursor-pointer" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</main>


