<!DOCTYPE html>
<html class="transition-all duration-500">
  <head>
    <title>Felix Abacajen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "components/templates/main_layout" %>
  </body>
</html>
