<!DOCTYPE html>
<html class="dark">
  <head>
    <title>JOHN DOE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="dark:bg-gray-800">
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
<%= render "shared/modal" %>
